{% ckan_extends %}

{% block secondary_content %}
  {% asset 'ckanext-extentsearch/extentsearch-js' %}
  {% asset 'ckanext-extentsearch/extentsearch-css' %}

  {# This <section> is the date-range picker widget in the sidebar. #}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-calendar"></i> {{ _('Dataset Temporal Extent') }}
      <a href="{{ h.remove_url_param(['ext_start', 'ext_end']) }}" class="action">{{ _('Clear') }}</a>
    </h2>

    {% set ds_startyear = '1800' %}

    <div class="row" style="height: 50px; padding-top: 10px; align-items: center">
      <div class="col-xs-1" style="padding: 6px 12px; height: 34px;">
      </div>
      <div class="col-xs-4" style="padding-right: 0px; vert-align: middle">
        <input class="form-control input-sm text-center" type="text" style="cursor:pointer;" name="start" id="ds_start" data-module="ds-daterangepicker-module" readonly="true"
            data-module-earliest_startyear= "{{ ds_startyear }}">
      </div>
      <div class="col-xs-2" style="padding: 6px 12px; height: 34px;">
        <span class="add-on">&nbsp;&nbsp;to</span>
      </div>
      <div class="col-xs-4" style="padding-left: 0px;">
        <input class="form-control input-sm text-center" type="text" style="cursor:pointer;" name="end" id="ds_end" data-module="ds-daterangepicker-module" readonly="true"
            data-module-earliest_startyear = "{{ ds_startyear }}">
      </div>
    </div>

  </section>

  {{ super() }}
{% endblock %}
